<div *ngIf="course" [ngClass]="cardClasses()">
  <div class="course-title" ><!-- [ngStyle]="cardStyles()" -->
      {{ cardIndex + ' ' +  course.description }}
  </div>
  <img width="300" alt="Angular Logo" [src]="course.iconUrl" 
  *ngIf="isImageVisible() else noImage">
    <ng-template #noImage>
      <p>No image is available.</p> 
    </ng-template>
    <div class="course-description">
        {{course.longDescription}}
    </div>
    <button (click)="onCourseViewed()">View Course</button>
</div>
