<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
        <div>Start Date : {{startDate | date:'MMM dd yyyy'}}</div>
        <div>{{title | uppercase}}</div>
        <div>{{price | number:'1.0'}}</div>
        <div>{{price | currency}}</div>
        <div>{{rate | percent}}</div>
</div>
<div *ngFor="let pair of course | keyvalue">
        {{pair.key + ' ' + pair.value}}
</div>
<div class="courses">
        <h1>Count : </h1>
        <course-card *ngFor="let course of courses | slice:0:2 ;index as i;first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd"
         [class.is-first]="isFirst" 
         [class.is-last]="isLast" 
         (courseSelected)="onCourseSelected($event)"
         [course]="course"
         [cardIndex]="i+1">
        </course-card>
</div>


